WARSAW_OV12870E3_LITEON=/odm/etc/camera/mmi7cm/warsaw_ov12870e3_liteon/
WARSAW_OV12A10_LITEON=/odm/etc/camera/mmi7cm/warsaw_ov12a10_liteon/
WARSAW_OV12A10_SUNNY=/odm/etc/camera/mmi7cm/warsaw_ov12a10_sunny/
WARSAW_OV12A10_FOXCONN=/odm/etc/camera/mmi7cm/warsaw_ov12a10_foxconn/
WARSAW_IMX386E3_OFILM=/odm/etc/camera/mmi7cm/warsaw_imx386e3_ofilm/
WARSAW_IMX386E3_SUNNY=/odm/etc/camera/mmi7cm/warsaw_imx386e3_sunny/
WARSAW_IMX486_OFILM=/odm/etc/camera/mmi7cm/warsaw_imx486_ofilm/
WARSAW_IMX486_SUNNY=/odm/etc/camera/mmi7cm/warsaw_imx486_sunny/